# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
/.vs/Api/FileContentIndex
/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache
/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfo.cs
/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfoInputs.cache
/Dominio/obj/Debug/net8.0/Dominio.AssemblyInfo.cs
/Dominio/obj/Debug/net8.0/Dominio.AssemblyInfoInputs.cache
/Repositorio/obj/Debug/net8.0/Repositorio.AssemblyInfo.cs
/Repositorio/obj/Debug/net8.0/Repositorio.AssemblyInfoInputs.cache
*.config
/.vs/Api/DesignTimeBuild/.dtbcache.v2
/.vs/Api/v17/.futdcache.v2
/.vs/Api/v17/.suo
/.vs/Api/v17/DocumentLayout.json
/Api/bin/Debug/net8.0
/Api/obj/Debug/net8.0/ref/Api.dll
/Api/obj/Debug/net8.0/refint/Api.dll
/Api/obj/Debug/net8.0/Api.assets.cache
/Api/obj/Debug/net8.0/Api.csproj.CoreCompileInputs.cache
/Api/obj/Debug/net8.0/Api.csproj.FileListAbsolute.txt
/Api/obj/Debug/net8.0/Api.sourcelink.json
/Api/obj/project.assets.json
/Api/obj/Api.csproj.nuget.dgspec.json
/Api/obj/project.nuget.cache
/Aplicacao/bin/Debug/net8.0/Aplicacao.deps.json
/Aplicacao/bin/Debug/net8.0/Aplicacao.dll
/Aplicacao/bin/Debug/net8.0/Aplicacao.pdb
/Aplicacao/obj/Debug/net8.0/ref/Aplicacao.dll
/Aplicacao/obj/Debug/net8.0/refint/Aplicacao.dll
/Aplicacao/obj/Debug/net8.0/Aplicacao.csproj.AssemblyReference.cache
/Aplicacao/obj/Debug/net8.0
/Dominio/bin/Debug/net8.0/Dominio.dll
/Dominio/bin/Debug/net8.0/Dominio.pdb
/Dominio/obj/Debug/net8.0/ref/Dominio.dll
/Dominio/obj/Debug/net8.0/refint/Dominio.dll
/Dominio/obj/Debug/net8.0/Dominio.csproj.CoreCompileInputs.cache
/Dominio/obj/Debug/net8.0/Dominio.csproj.FileListAbsolute.txt
/Dominio/obj/Debug/net8.0/Dominio.sourcelink.json
/Aplicacao/obj
/Repositorio/bin/Debug/net8.0/Repositorio.deps.json
/Repositorio/bin/Debug/net8.0/Repositorio.dll
/Repositorio/bin/Debug/net8.0/Repositorio.pdb
/Repositorio/obj/Debug/net8.0/ref/Repositorio.dll
/Repositorio/obj/Debug/net8.0/refint/Repositorio.dll
/Repositorio/obj/Debug/net8.0/Reposito.F4C96B80.Up2Date
/Repositorio/obj/Debug/net8.0
/Api/obj/Debug/net8.0/Api.csproj.BuildWithSkipAnalyzers
/Dominio/obj/Debug/net8.0
/.vs/ProjectEvaluation
/Repositorio/obj/project.assets.json
/Repositorio/obj/project.nuget.cache
/Repositorio/obj/Repositorio.csproj.nuget.dgspec.json
/bin/Debug
/obj/Debug
/Api/bin/Debug/net8.0/appsettings.Development.json
/Api/obj/Debug/net8.0/staticwebassets/msbuild.Api.Microsoft.AspNetCore.StaticWebAssets.props
/Api/obj/Debug/net8.0/staticwebassets.build.json
/Api/obj/Debug/net8.0/staticwebassets.development.json
/Api/obj/Debug/net8.0/staticwebassets.pack.json
